<!DOCTYPE html>
<html lang="en">
    <app-header></app-header>
  <body>
    <app-inheader></app-inheader>
    <app-leftmenu></app-leftmenu>
    <div class="page-content-wrapper inner-page-white-showbtn">
        <div class="container">
        <div class="row">
         <div class="card">
              <div class="card-body">
                
                

               <div class="money-icon text-center mt-4 mb-4">
                <h4 class="hed-t">Change Password</h4>
                
               </div>
               
                <div class="add-money mt-3 text-center">
                  <h4>Current Password</h4>
                  <div class="form-group mb-0 rupee-symball">
                    <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.current_password"  type="text" placeholder="Enter current password">
                    
                  </div>
                </div>
                <div class="add-money mt-3 text-center">
                    <h4>New Password</h4>
                    <div class="form-group mb-0 rupee-symball">
                      <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.new_password"  type="text" placeholder="Enter new password">
                      
                    </div>
                  </div>
                  <div class="add-money mt-3 text-center">
                    <h4>Confirm New Password</h4>
                    <div class="form-group mb-0 rupee-symball">
                      <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.confirm_password"  type="text" placeholder="Enter confirm password">
                      
                    </div>
                  </div>
                  
              
                
                <div class="add-money text-center mb-2" >
                 
                   
                    <button class="request-balance btn btn-primary" type="button" (click)="sendMoneyWidthdrawalRequest()">Update</button>
                    
                 
                </div>

            
              </div>
            </div>
         </div>
         
        </div>
          
          
          
          
          
        </div>
    <app-footmenu></app-footmenu>
  </body>
</html>