<!-- Preloader -->
<div id="preloader">
    <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
  </div>
  <!-- Internet Connection Status -->
  <!-- # This code for showing internet connection status -->
  <div class="internet-connection-status" id="internetStatus"></div>
  <!-- Header Area -->
  <div class="header-area" id="headerArea">
    <div class="container">

      <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
        <!-- Logo Wrapper -->
        
        <!-- Navbar Toggler -->
       <div class="navbar--toggler" id="affanNavbarToggler" data-bs-toggle="offcanvas" data-bs-target="#affanOffcanvas" aria-controls="affanOffcanvas"><span class="d-block"></span><span class="d-block"></span><span class="d-block"></span></div>
       <div class="logo-wrapper"><a href="../calcutta_matka/page-home.html"><!--<img src="img/core-img/logo.png" alt="">-->Calcutta Matkaa</a></div>
        
        <div class="wallet">
            <svg version="1.1" id="Layer_1" width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 21.2 19.4" style="enable-background:new 0 0 21.2 19.4;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#FFFFFF;}
</style>
<g>
  <path class="st0" d="M2.2,19.1c-1.1,0-1.9-0.9-1.9-1.9l0-11.9c0-0.5,0.1-1.6,1.6-2l14.4-2.9l0.1,0c1.1,0,1.9,0.9,1.9,1.9v2.6l0.6,0
      c1.1,0,1.9,0.9,1.9,1.9v10.3c0,1.1-0.9,1.9-1.9,1.9H2.2L2.2,19.1z M16.4,1.6L2.2,4.5c0,0,0.1,0.4,0.6,0.4H17V2.3
      C17,2,16.8,1.7,16.4,1.6L16.4,1.6z M1.5,5.5v11.6c0,0.4,0.3,0.6,0.6,0.6H19c0.4,0,0.6-0.3,0.6-0.6V6.8c0-0.4-0.3-0.6-0.6-0.6H2.8
      C2.2,6.2,1.5,6,1.5,5.5L1.5,5.5z M17,13.3c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3c0.7,0,1.3,0.6,1.3,1.3S17.7,13.3,17,13.3
      L17,13.3z"/>
</g>
</svg>
        <span>RS {{ wallet_money }}</span>

        </div>
      </div>
      <!-- # Header Five Layout End -->
    </div>
  </div>