<!DOCTYPE html>
<html lang="en">
    <app-header></app-header>
  <body>
    <app-inheader></app-inheader>
    <app-leftmenu></app-leftmenu>
    <div class="page-content-wrapper inner-page-white1 contact m-0">
        <div class="container text-center">
        <div class="row mt-5 mb-2">
             <div class="contact-top p-0">
                <img src="/assets/img/contact-img.png"/>
                <h5 class="py-3 help"><strong>We are happy to help you!</strong></h5>
                <h6 class="my-4">Just Give us a Call <br>WhatsApp your query</h6>
                <!--<h6>Our Support Executive will resolve<br>
                your query as on Priority</h6>-->
             </div>		
         </div>
         <div class="row contact-info mb-3 pb-4">
             <div class="col-5">
                 <a href="#"><img src="/assets/img/call.png"/>
                 <h6 class="mt-2"><strong>Call Helpline</strong></h6></a>
             </div>
             <div class="col-2">
                 <img src="/assets/img/divider.png"/>
             </div>
             <div class="col-5">
                 <a href="#"><img src="/assets/img/whatsapp.png"/>
                 <h6 class="mt-2"><strong>Whatsapp</strong></h6></a>
             </div>
         </div>
        </div>
        </div>
    <app-footmenu></app-footmenu>
  </body>
</html>