<!DOCTYPE html>
<html lang="en">
    <app-header></app-header>
  <body>
    <app-inheader></app-inheader>
    <app-leftmenu></app-leftmenu>
    <div class="page-content-wrapper inner-page-white">
        <div class="container">
        <div class="row">
         <div class="card">
              <div class="card-body">
                <div class="text-center mt-4 mb-4" *ngIf="qr_code">
                  
                  <div class="container">
                    <div class="news">
                      <marquee>{{ this.settingsData.addmoney_text }}</marquee>
                    </div>
                    </div>
                    <p style="color: red;">* Pay using this QR code and request balance for approval</p>
                    <img src="assets/img/phonepay.jpeg" style="max-width: 55%;">

   
                    
                </div>
                <button *ngIf="qr_code" style="margin-left: 280px;" class="btn btn-success" type="button" (click)="reqbal()">REQUEST BALANCE</button>

                <div class="label">
                  {{ this.settingsData.upi_1 }}
                </div>
                <div class="copy-text">
                  <input type="text" class="text" [(ngModel)]="upiDaata.upi_1_phone" (click)="copytoClipboard()"/>
                  <button>Copy</button>
                </div>
           
              
                <div class="label" >
                  {{ this.settingsData.upi_2 }}
                </div>
                <div class="copy-text" style="margin-bottom: 100px;">
                  <input type="text" class="text" [(ngModel)]="upiDaata.upi_1_phone" (click)="copytoClipboard()" />
                  <button>Copy</button>
                </div>


                <div *ngIf="req_balance">
               <div class="money-icon text-center mt-4 mb-4">
                   <img src="assets/img/money.png">
                   <button class="btn btn-success" style="margin-left: 10px;" type="button" (click)="addMoney()">ADD MONEY</button>
               </div>
               
                <div class="add-money mt-3 text-center">
                  <h4>ENTER AMOUNT</h4>
                  <div class="form-group mb-0 rupee-symball">
                    <input class="form-control1" id="exampleInputText" [(ngModel)]="addMoneyFormData.amount"  type="text" placeholder="Enter digit">
                    <img src="assets/img/rupee-icon.png"/>
                  </div>
                </div>
                <div class="add-money mt-3 text-center" >
                  <h4>ENTER TXN NUMBER</h4>
                  <div class="form-group mb-0 rupee-symball">
                    <input class="form-control1" id="exampleInputText" [(ngModel)]="addMoneyFormData.txn_number" type="text" placeholder="Txn Ref No">
                  </div>
                </div>
                <div class="add-money mt-3 text-center"  >
                  <h4>SELECT TRANFAR MODE</h4>
                 <ul class="d-flex p-0" style="margin-left: 173px;">
                  <li>
                    <div class="form-check">
                        <input class="form-check-input form-check-danger" value="Bank Account" type="radio" [(ngModel)]="addMoneyFormData.transfer_mode" name="transfer_mode" >
                        <label class="form-check-label" for="dangerRadio">Bank Account</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                        <input class="form-check-input form-check-danger" value="GPay"  type="radio" [(ngModel)]="addMoneyFormData.transfer_mode" name="transfer_mode" >
                        <label class="form-check-label" for="dangerRadio">GPay</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                        <input class="form-check-input form-check-danger" value="PhonePe"  type="radio" [(ngModel)]="addMoneyFormData.transfer_mode" name="transfer_mode" >
                        <label class="form-check-label" for="dangerRadio">PhonePe</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                        <input class="form-check-input form-check-danger" value="UPI"  type="radio" [(ngModel)]="addMoneyFormData.transfer_mode" name="transfer_mode" >
                        <label class="form-check-label" for="dangerRadio">UPI</label>
                    </div>
                  </li>
                  </ul>
                </div>
                
                
                <div class="add-money text-center">
                  <form action="#" method="GET">
                    <div class="form-file">
                      <input class="form-control d-none" id="customFile" type="file">
                      <!--<label class="form-file-label justify-content-center" for="customFile"><span class="form-file-button btn btn-primary shadow w-100">Upload Screenshot</span></label>-->
                    </div>
                    <button class="request-balance btn btn-primary" type="button" (click)="addMoneyToWallet()">REQUEST BALANCE</button>
                    
                  </form>
                  
                </div>

            </div>
              </div>
            </div>
         </div>
         
        </div>
          
          
          
          
          
        </div>
    <app-footmenu></app-footmenu>
  </body>
</html>