<!DOCTYPE html>
<html lang="en">
    <app-header></app-header>
  <body>
    <app-inheader></app-inheader>
    <app-leftmenu></app-leftmenu>
    <div class="page-content-wrapper">
      <!-- Welcome Toast -->
     <!-- <div class="toast toast-autohide custom-toast-1 toast-success home-page-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="7000" data-bs-autohide="true">
        <div class="toast-body">
          <svg class="bi bi-bookmark-check text-white" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
            <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
          </svg>
          <div class="toast-text ms-3 me-2">
            <p class="mb-1 text-white">Welcome to Affan!</p><small class="d-block">Click the "Add to Home Screen" button &amp; enjoy it like an app.</small>
          </div>
        </div>
        <button class="btn btn-close btn-close-white position-absolute p-1" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>-->
      <!-- Tiny Slider One Wrapper -->
      <div class="container">
      <div class="news">
      	<marquee>{{ this.pageData }}</marquee>
      </div>
      </div>
      
      <div class="tiny-slider-one-wrapper">
       <div class="container">
        <div class="tiny-slider-one">
          <!-- Single Hero Slide -->
          <!-- <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/31.jpg')">
              <div class="h-100 d-flex text-center">
                
              </div>
            </div>
          </div> -->
          <!-- Single Hero Slide -->
          <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/31.jpg')">
              <div class="h-100 d-flex align-items-center text-center">
               
              </div>
            </div>
          </div>
          <!-- Single Hero Slide -->
          <!-- <div> 
            <div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/31.jpg')">
              <div class="h-100 d-flex align-items-center text-center">
               
              </div>
            </div>
          </div> -->
          <!-- Single Hero Slide -->
          <div> 
            <div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/31.jpg')">
              <div class="h-100 d-flex align-items-center text-center">
                
              </div>
            </div>
          </div>
          <!-- Single Hero Slide -->
          <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('assets/img/bg-img/31.jpg')">
              <div class="h-100 d-flex align-items-center text-center">
               
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="pt-3"></div>
		<div class="container">
			<h4 class="main-heading">Leagues</h4>
			
			<div class="row ">
			<div class="col-sm-12">

				<div class="bg-white px-3 py-3 common-box play-game" *ngFor="let league of leagueData ;  let i = index">
				<div class="row">
				<div class="col-8">
					<div class="kolkata-fatafat">
					
					<div class="d-flex" >
						<div class="fatafat-icon" style="width: 10%;"><img src="https://matka.aquivertech.in/game/public/uploads/leagues/{{ league['image'] }}"></div>
						<div class="heading">
						<h6 class="align-middle m-0">{{ league['title'] }}</h6>
						<!-- <span class="baji">11:31 am-01:30 pm</span> -->
						</div>
						</div>
					</div>
				</div>
				<div class="col-4 text-center pl-0">
          <h6 class="align-middle m-0">{{ league['location'] }}</h6>
					<!-- <a class="close" href="#">Close</a> -->
					<!-- <a class="play" href="javascript:void(0)" (click)="getGame(league)">Play</a> -->
          <a class="play" href="/game/{{ league['title'] }}/{{ league['id'] }}">Play</a>
					<!--<a class="off" href="#">Off</a-->
				</div>
				</div>
				</div>
				
				

				</div>
			</div>
		</div>
    </div>
    <app-footmenu></app-footmenu>
  </body>
</html>