<!DOCTYPE html>
<html lang="en">
    <app-header></app-header>
  <body>
    <app-inheader></app-inheader>
    <app-leftmenu></app-leftmenu>
    <div class="page-content-wrapper inner-page-white-showbtn">
        <div class="container">
        <div class="row">
         <div class="card">
              <div class="card-body">
                
                

               <div class="money-icon text-center mt-4 mb-4">
                <h4 class="hed-t">Bank Account Info</h4>
                   <img src="assets/img/money.png">
                
               </div>
               
                <div class="add-money mt-3 text-center">
                  <h4>Bank Name</h4>
                  <div class="form-group mb-0 rupee-symball">
                    <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.bank_name"  type="text" placeholder="Enter bank name">
                    
                  </div>
                </div>
                <div class="add-money mt-3 text-center">
                    <h4>Account No</h4>
                    <div class="form-group mb-0 rupee-symball">
                      <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.account_no"  type="number" placeholder="Enter Account No">
                      
                    </div>
                  </div>
                  <div class="add-money mt-3 text-center">
                    <h4>IFSC Code</h4>
                    <div class="form-group mb-0 rupee-symball">
                      <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.ifsc_code"  type="text" placeholder="Enter IFSC Code">
                      
                    </div>
                  </div>
                  <div class="add-money mt-3 text-center">
                    <h4>GPay</h4>
                    <div class="form-group mb-0 rupee-symball">
                      <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.gpay"  type="text" placeholder="Enter GPay number">
                      
                    </div>
                  </div>
                  <div class="add-money mt-3 text-center">
                    <h4>PhonePe</h4>
                    <div class="form-group mb-0 rupee-symball">
                      <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.phonepe"  type="text" placeholder="Enter PhonePe number">
                      
                    </div>
                  </div>
                  <div class="add-money mt-3 text-center">
                    <h4>UPI</h4>
                    <div class="form-group mb-0 rupee-symball">
                      <input class="form-control1" id="exampleInputText" [(ngModel)]="addAccountFormData.upi"  type="text" placeholder="Enter UPI number">
                      
                    </div>
                  </div>
                
           
                
                <div class="add-money text-center mb-2" >
                 
                   
                    <button class="request-balance btn btn-primary" type="button" (click)="sendMoneyWidthdrawalRequest()">Update</button>
                    
                 
                </div>

            
              </div>
            </div>
         </div>
         
        </div>
          
          
          
          
          
        </div>
    <app-footmenu></app-footmenu>
  </body>
</html>