<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Affan - PWA Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0134d4">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Calcutta Matka</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    
    <!-- Favicon -->
    <link rel="icon" href="/assets/img/core-img/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/img/icons/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/icons/icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/icon-180x180.png">
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/tiny-slider.css">
    <!--<link rel="stylesheet" href="css/baguetteBox.min.css">
    <link rel="stylesheet" href="css/rangeslider.css">
    <link rel="stylesheet" href="css/vanilla-dataTables.min.css">
    <link rel="stylesheet" href="css/apexcharts.css">-->
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Web App Manifest -->
    <link rel="manifest" href="/assets/manifest.json">
  </head>
  <body class="inner-page">
    <!-- Preloader -->
    <div id="preloader">
      <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Internet Connection Status -->
    <!-- # This code for showing internet connection status -->
    <div class="internet-connection-status" id="internetStatus"></div>
    <!-- Dark mode switching -->
    
    <!-- RTL mode switching -->
    
    <!-- Header Area-->
    
    <div class="page-content-wrapper inner-page-white contact">
    <div class="container text-center">
    		<div class="row">
     <div class="card withdraw-winning register">
          <div class="card-body">
          <div class="logo mb-4"> <img src="/assets/img/logo.png"></div>
            <div class="add-money text-center">
              <h4>LOGIN</h4>
              <p>Enter your email to proceed</p>
              <form action="" method="POST" *ngIf="loginHtml">
             
                  <div class="form-group mb-0 rupee-symball mt-1">
                    <input type="email" class="form-control1" name="email" id="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required autofocus>
                   
                        <span class="invalid-feedback">
                            <strong></strong>
                        </span>
                  
                  </div>
                  <div class="form-group mb-0 rupee-symball mt-1">
                    <input type="password" class="form-control1" name="password" placeholder="Password" required autofocus>
                  </div>
               
            <div class="add-money text-center">
              <!--<form action="#" method="GET">-->
                <button class="request-balance btn btn-primary" type="submit">Login</button>
              <!--</form>-->
            </div>
            </form>

            <form action="" method="POST" *ngIf="registerHtml">
             
                  <div class="form-group mb-0 rupee-symball mt-1">
                    <input type="text" class="form-control1" name="name" placeholder="Your Name" required autofocus>
                  </div>
                  <div class="form-group mb-0 rupee-symball mt-1">
                    <input type="email" class="form-control1" name="email" id="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required autofocus>
                    <button onclick="sendOTP();" class="request-balance btn btn-primary" type="button">Send OTP</button>
                    <br>
                    <span id="otp_div" style="color:green;display:none;">OTP send to your email</span>
                  </div>
                  <input type="hidden" id="otp" name="otp" value="" />
                  <div class="form-group mb-0 rupee-symball mt-1">
                    <input type="text" class="form-control1" name="otp_val" placeholder="OTP" required autofocus>
                  </div>
                  <div class="form-group mb-0 rupee-symball mt-1">
                    <input type="text" class="form-control1" name="password" placeholder="Password" required autofocus>
                  </div>
                  <div class="form-group mb-0 rupee-symball mt-1">
                    <input type="text" class="form-control1" name="confirm_password" placeholder="Confirm Password" required autofocus>
                  </div>
                
            <div class="add-money text-center">
              <!--<form action="#" method="GET">-->
                <button class="request-balance btn btn-primary" type="submit">CREATE MY ACCOUNT</button>
              <!--</form>-->
            </div>
            </form>
           
            
            
          </div>
          <div class="add-money mt-3 text-center">
             <ul class=" p-0 text-center">
              <li>
				<div class="form-check" *ngIf="loginHtml">
					<label class="form-check-label" for="dangerRadio"><a href="javascript:void(0)" (click)="showRegister()">Create Account</a></label>
				</div>
        <div class="form-check" *ngIf="registerHtml">
					<label class="form-check-label" for="dangerRadio"><a href="javascript:void(0)" (click)="showLogin()">Login</a></label>
				</div>
              </li>
              </ul>
            </div>
        </div>
     </div>
     
    </div>
    </div>
  </div>
    <!-- Footer Nav -->
    
     <!-- All JavaScript Files -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>
    <script src="/assets/js/active.js"></script>
<!--    <script src="js/slideToggle.min.js"></script>
    <script src="js/internet-status.js"></script>
    
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/rangeslider.min.js"></script>
    <script src="js/vanilla-dataTables.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/magic-grid.min.js"></script>
    <script src="js/dark-rtl.js"></script>
    <!--<script src="js/pwa.js"></script>-->
  </body>
</html>