<!DOCTYPE html>
<html lang="en">
    <app-header></app-header>
  <body>
    <app-inheader></app-inheader>
    <app-leftmenu></app-leftmenu>
    <div class="page-content-wrapper inner-page-white">
        <div class="container">
        <div class="row">
         <div class="card">
              <div class="card-body">
              
               
                
                
                <div class="add-money text-center">
                  <form action="#" method="GET">
                    <div class="form-file">
                      <input class="form-control d-none" id="customFile" type="file">
                      <!--<label class="form-file-label justify-content-center" for="customFile"><span class="form-file-button btn btn-primary shadow w-100">Upload Screenshot</span></label>-->
                    </div>
                    <a routerLink="/balance"><button class="request-balance btn btn-primary" type="button">Balance</button></a>
                    <a routerLink="/add-money"><button class="request-balance btn btn-success" type="button">Add Money</button></a>
                    <a routerLink="/withdraw-money"><button class="request-balance btn btn-primary" type="button">Withdraw Winning</button></a>
                    <button class="request-balance btn btn-primary" type="button">Game Bid History</button>
                    <button class="request-balance btn btn-primary" type="button">Deposite History</button>
                  </form>
                </div>
                
              </div>
            </div>
         </div>
         
        </div>
          
          
          
          
          
        </div>
    <app-footmenu></app-footmenu>
  </body>
</html>